@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: white;
  margin-bottom: 1rem;
}

h1 {
  font-family: "Delius Unicase", cursive;
  font-size: 1.5rem;
  color: gold;
}

nav {
  text-transform: none;
  text-decoration: none;
  color: gray;
  display: inline-block;
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
}

a {
  text-decoration: none;
  display: inline;
  padding: 10px;
  color: gold;
}

nav a:hover {
  background-color: beige;
  border: 1px;
  border-radius: 6px;
  text-decoration: none;
  color: red;
}

section img {
  width: 100%;
}
